# pandas datetime

In [97]:
import pandas as pd

In [98]:
melb_df = pd.read_csv("data/melb_df.csv", sep = ",")
melb_df.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969

In [99]:
display(melb_df["Date"])

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

### to chenge order of writing of date

In [100]:
melb_df["Date"] = pd.to_datetime(melb_df["Date"], dayfirst=True)
display(melb_df["Date"])
display(melb_df["Date"][0])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

Timestamp('2016-12-03 00:00:00')

### .dt.
* date
* year, month, day 
* hour, minute, second
* dayofweek serial number of week from 0 to 6
* day_name 
* dayofyear serial number of day of year
* quarter 1/4 of year

In [101]:
years_sold = melb_df["Date"].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32
Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

In [102]:
melb_df["MonthSale"] = melb_df["Date"].dt.month
melb_df["MonthSale"].value_counts(normalize=True)

MonthSale
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

### time intervals

In [103]:
delta_days = melb_df["Date"] - pd.to_datetime("2016-01-01")
display(delta_days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

In [104]:
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [105]:
melb_df["AgeBuilding"] = melb_df["Date"].dt.year - melb_df["YearBuilt"]
display(melb_df["AgeBuilding"])
display(melb_df["AgeBuilding"].max())
display(melb_df["AgeBuilding"].min())

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

np.int64(821)

np.int64(-2)

In [106]:
melb_df.drop('YearBuilt', axis=1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,126.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,79.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,150.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,126.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,142.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,...,126.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,133.0,NaN,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,...,126.0,NaN,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,157.0,NaN,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,...,112.0,NaN,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97

In [107]:
melb_df["WeekdaySale"] = melb_df["Date"].dt.dayofweek
display(melb_df["WeekdaySale"])
melb_df.head(3)

0        5
1        3
2        5
3        5
4        5
        ..
13575    5
13576    5
13577    5
13578    5
13579    5
Name: WeekdaySale, Length: 13580, dtype: int32

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding,WeekdaySale
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707,12,46,5
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660,2,116,3
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338,3,117,5

### pandas datetime practice

In [108]:
ufo = pd.read_csv("data/ufo.csv", sep= ",")
ufo.head(10)

                   City Colors Reported Shape Reported State              Time
0                Ithaca             NaN       TRIANGLE    NY    6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ   6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO   2/15/1931 14:00
3               Abilene             NaN           DISK    KS    6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
5           Valley City             NaN           DISK    ND   9/15/1934 15:30
6           Crater Lake             NaN         CIRCLE    CA    6/15/1935 0:00
7                  Alma             NaN           DISK    MI    7/15/1936 0:00
8               Eklutna             NaN          CIGAR    AK  10/15/1936 17:00
9               Hubbard             NaN       CYLINDER    OR    6/15/1937 0:00

In [109]:
ufo["Time"] = pd.to_datetime(ufo["Time"], yearfirst=True)
ufo.head(3)

          City Colors Reported Shape Reported State                Time
0       Ithaca             NaN       TRIANGLE    NY 1930-06-01 22:00:00
1  Willingboro             NaN          OTHER    NJ 1930-06-30 20:00:00
2      Holyoke             NaN           OVAL    CO 1931-02-15 14:00:00

What year had the highest number of UFO sightings in the United States?

In [110]:
ufo["year_sightings"] = ufo["Time"].dt.year
ufo["year_sightings"].value_counts(normalize=True)

year_sightings
1999    0.152075
2000    0.144455
1998    0.095554
1995    0.073680
1997    0.067814
          ...
1930    0.000110
1941    0.000110
1933    0.000055
1934    0.000055
1935    0.000055
Name: proportion, Length: 68, dtype: float64

Find the average time interval (in days) between two consecutive UFO sightings in the state of Nevada (NV).

In [118]:
time_diff_NY = ufo[ufo["State"] == "NY"]["Time"].diff()
time_diff_NY = time_diff_NY.dt.days
print(round(time_diff_NY.mean()))

28