# pandas practice

In [1]:
import pandas as pd

In [2]:
citi = pd.read_csv("data/citibike-tripdata.csv", index_col=False)
citi.head(3)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1

### how many empty rows in start station id?
### what is data type has column "starttime" and "stoptime"?

In [3]:
citi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

### what is ID of the most popular station?
### what is ID of the most popular  bike?

In [4]:
display(citi["start station id"].value_counts().nlargest(1))
display(citi["bikeid"].value_counts().nlargest(1))

start station id
281.0    1928
Name: count, dtype: int64

bikeid
33887    107
Name: count, dtype: int64

### what is client type is more popular "Subscriber" or "Customer"?

In [5]:
citi["usertype"].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

### Who rides more, men or women? In response, write down the number of rides for the group that has more.

In [6]:
citi["gender"].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

### delete unnecessary columns

In [7]:
citi.drop(["start station id", "end station id"], axis=1, inplace=True)

In [8]:
citi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

### replace column "birth year" to age of clients, the column name is "age".
* now is "2018"

In [9]:
citi["age"] = citi["birth year"].apply(lambda x: 2018 - x)
citi.drop("birth year", axis=1, inplace=True)
citi.head(5)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24

### how many trips were made by customers over the age of 60?

In [10]:
citi[citi["age"] > 60].shape[0]

11837

### create a trip duration attribute
* name of new column is "trip duration"

In [11]:
citi["starttime"] = pd.to_datetime(citi["starttime"])
citi["stoptime"] = pd.to_datetime(citi["stoptime"])
citi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [12]:
citi["trip duration"] = citi["stoptime"] - citi["starttime"]
print(citi["trip duration"].head())
print(citi["trip duration"][3])

0   0 days 00:27:15.365000
1   0 days 00:02:12.200000
2   0 days 00:55:37.898000
3   0 days 00:07:16.837000
4   0 days 02:20:57.993000
Name: trip duration, dtype: timedelta64[ns]
0 days 00:07:16.837000

### create new attribute "weekend"
### how many trips started on weekends?

In [17]:
citi["weekend"] = citi["starttime"].dt.dayofweek.apply(lambda x: 1 if x >= 5 else 0)
citi[citi["weekend"] == 1].shape[0]

115135

### create new attribute "time_of_day". the time of day based on the start time of the trip
* between 0 ot 6 - night
* between 7 ot 12 - morning
* between 13 ot 18 - day
* between 19 ot 23 - evening

In [38]:
def day_time(time):
    if 0 <= time < 7:
        return "night"
    elif 7 <= time < 13:
        return "morning"
    elif 13 <= time < 19:
        return "day"
    elif 19 <= time < 24:   
        return "evening"
citi["time_of_day"] = citi["starttime"].dt.hour.apply(day_time)

In [45]:
citi["time_of_day"].value_counts()

time_of_day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64