# pandas category

In [1]:
import pandas as pd

# table attribute: 
## categorical
* discrete integer (number of rooms, days, peoples)
* continuous int or float (square of room, price, mass)
## numerical
* name (sex, group, group sex:)
* serial (level, stage, marks)

In [2]:
melb_df = pd.read_csv("data/melb_df_02.csv")
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,2,...,144.9984,Northern Metropolitan,4019,25.20,-0.231707,12,46,5,St,1
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,2,...,144.9934,Northern Metropolitan,4019,15.80,-0.327660,2,116,3,St,0
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,3,...,144.9944,Northern Metropolitan,4019,18.75,0.056338,3,117,5,St,1
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.75,0.145455,3,47,5,other,1
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.75,0.083969,6,2,5,St,1

In [3]:
unique_list = []
for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtype)
    unique_list.append(item)
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type'] 
).sort_values(by='Num_Unique', ignore_index=True)
display(unique_counts)

      Column_Name  Num_Unique     Type
0         Weekend           2    int64
1            Type           3   object
2     WeekdaySale           5    int64
3          Method           5   object
4      Regionname           8   object
5           Rooms           9    int64
6        Bathroom           9    int64
7             Car          11    int64
8      StreetType          11   object
9         Bedroom          12    int64
10      MonthSale          12    int64
11    CouncilArea          33   object
12        SellerG          50   object
13           Date          58   object
14      YearBuilt         144    int64
15    AgeBuilding         152    int64
16       Postcode         198    int64
17       Distance         202  float64
18  Propertycount         311    int64
19         Suburb         314   object
20   BuildingArea         602  float64
21  MeanRoomsArea        1275  float64
22       Landsize        1448  float64
23          Price        2204  float64
24      Lattitude        6503  float64
25      AreaRatio        6521  float64
26     Longtitude        7063  float64

### to add data type category

In [4]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  object
 3   Price          13580 non-null  float64
 4   Method         13580 non-null  object
 5   SellerG        13580 non-null  object
 6   Date           13580 non-null  object
 7   Distance       13580 non-null  float64
 8   Postcode       13580 non-null  int64
 9   Bedroom        13580 non-null  int64
 10  Bathroom       13580 non-null  int64
 11  Car            13580 non-null  int64
 12  Landsize       13580 non-null  float64
 13  BuildingArea   13580 non-null  float64
 14  YearBuilt      13580 non-null  int64
 15  CouncilArea    12211 non-null  object
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  object
 19  Propertycount  13580 non-null  int64
 20  MeanRoomsArea  13580 non-null  float64
 21  AreaRatio      13580 non-null  float64
 22  MonthSale      13580 non-null  int64
 23  AgeBuilding    13580 non-null  int64
 24  WeekdaySale    13580 non-null  int64
 25  StreetType     13580 non-null  object
 26  Weekend        13580 non-null  int64
dtypes: float64(8), int64(11), object(8)
memory usage: 2.8+ MB

None

In [5]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car', "Suburb"]
max_unique_count = 150
for col in melb_df.columns:
    if melb_df[col].unique().any() < max_unique_count and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype("category")

In [6]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  category
 3   Price          13580 non-null  category
 4   Method         13580 non-null  category
 5   SellerG        13580 non-null  category
 6   Date           13580 non-null  object
 7   Distance       13580 non-null  category
 8   Postcode       13580 non-null  category
 9   Bedroom        13580 non-null  int64
 10  Bathroom       13580 non-null  int64
 11  Car            13580 non-null  int64
 12  Landsize       13580 non-null  category
 13  BuildingArea   13580 non-null  category
 14  YearBuilt      13580 non-null  category
 15  CouncilArea    12211 non-null  category
 16  Lattitude      13580 non-null  category
 17  Longtitude     13580 non-null  category
 18  Regionname     13580 non-null  category
 19  Propertycount  13580 non-null  category
 20  MeanRoomsArea  13580 non-null  category
 21  AreaRatio      13580 non-null  category
 22  MonthSale      13580 non-null  category
 23  AgeBuilding    13580 non-null  category
 24  WeekdaySale    13580 non-null  category
 25  StreetType     13580 non-null  category
 26  Weekend        13580 non-null  category
dtypes: category(21), int64(4), object(2)
memory usage: 2.2+ MB

None

### attributes of category

In [7]:
print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [8]:
display(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

In [9]:
melb_df["Type"] = melb_df["Type"].cat.rename_categories({
    "u":"unit",
    "t":"towngous",
    "h":"house"
})
display(melb_df["Type"])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'towngous', 'unit']

In [14]:
suburb_index = melb_df["Suburb"].value_counts().nlargest(119).index
melb_df["Suburb"] = melb_df["Suburb"].apply(lambda x: x if x in suburb_index else "other")
melb_df["Suburb"] = melb_df["Suburb"].astype("category")
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  category
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  category
 3   Price          13580 non-null  category
 4   Method         13580 non-null  category
 5   SellerG        13580 non-null  category
 6   Date           13580 non-null  object
 7   Distance       13580 non-null  category
 8   Postcode       13580 non-null  category
 9   Bedroom        13580 non-null  int64
 10  Bathroom       13580 non-null  int64
 11  Car            13580 non-null  int64
 12  Landsize       13580 non-null  category
 13  BuildingArea   13580 non-null  category
 14  YearBuilt      13580 non-null  category
 15  CouncilArea    12211 non-null  category
 16  Lattitude      13580 non-null  category
 17  Longtitude     13580 non-null  category
 18  Regionname     13580 non-null  category
 19  Propertycount  13580 non-null  category
 20  MeanRoomsArea  13580 non-null  category
 21  AreaRatio      13580 non-null  category
 22  MonthSale      13580 non-null  category
 23  AgeBuilding    13580 non-null  category
 24  WeekdaySale    13580 non-null  category
 25  StreetType     13580 non-null  category
 26  Weekend        13580 non-null  category
dtypes: category(22), int64(4), object(1)
memory usage: 2.1+ MB