# pandas filtering data

In [1]:
import pandas as pd

mask is a Series, that includes index that has value of "True" for condition.

In [2]:
melb_data = pd.read_csv("data/melb_data.csv", sep=",")

conditions:
* "&" is and
* "|" is or

### filtering with one condition

In [4]:
mask = melb_data["Price"] > 2000000
display(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [5]:
display(melb_data[mask].head(10))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0.0,211.0,198.0,1890.0,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280.0,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1.0,153.0,180.0,1880.0,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280.0,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1.0,199.0,107.0,1900.0,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280.0,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1.0,177.0,181.0,1880.0,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280.0,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1.0,237.0,126.0,1970.0,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280.0,"-37.8436, 144.9557"
97,97,Albert Park,70 Barrett St,3,h,2575000.0,S,Greg,15/10/2016,3.3,...,1.0,228.0,126.0,1970.0,Port Phillip,-37.8445,144.9501,Southern Metropolitan,3280.0,"-37.8445, 144.9501"
102,102,Albert Park,97 Page St,3,h,3010000.0,S,Greg,18/03/2017,3.3,...,0.0,147.0,146.0,1890.0,Port Phillip,-37.8473,144.9551,Southern Metropolitan,3280.0,"-37.8473, 144.9551"
103,103,Albert Park,55 Withers St,4,h,2800000.0,VB,Cayzer,18/06/2016,3.3,...,1.0,327.0,254.0,1910.0,Port Phillip,-37.8467,144.9475,Southern Metropolitan,3280.0,"-37.8467, 144.9475"
105,105,Albert Park,55 Merton St,3,h,2100000.0,SP,Marshall,23/04/2016,3.3,...,1.0,120.0,123.0,1900.0,Port Phillip,-37.8427,144.9546,Southern Metropolitan,3280.0,"-37.8427, 144.9546"
108,108,Albert Park,115 Page St,4,h,4735000.0,S,Marshall,25/02/2017,3.3,...,1.0,330.0,207.0,1910.0,Port Phillip,-37.8477,144.9558,Southern Metropolitan,3280.0,"-37.8477, 144.9558"

In [7]:
display(melb_data[melb_data["Price"] > 2000000].head(10))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0.0,211.0,198.0,1890.0,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280.0,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1.0,153.0,180.0,1880.0,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280.0,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1.0,199.0,107.0,1900.0,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280.0,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1.0,177.0,181.0,1880.0,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280.0,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1.0,237.0,126.0,1970.0,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280.0,"-37.8436, 144.9557"
97,97,Albert Park,70 Barrett St,3,h,2575000.0,S,Greg,15/10/2016,3.3,...,1.0,228.0,126.0,1970.0,Port Phillip,-37.8445,144.9501,Southern Metropolitan,3280.0,"-37.8445, 144.9501"
102,102,Albert Park,97 Page St,3,h,3010000.0,S,Greg,18/03/2017,3.3,...,0.0,147.0,146.0,1890.0,Port Phillip,-37.8473,144.9551,Southern Metropolitan,3280.0,"-37.8473, 144.9551"
103,103,Albert Park,55 Withers St,4,h,2800000.0,VB,Cayzer,18/06/2016,3.3,...,1.0,327.0,254.0,1910.0,Port Phillip,-37.8467,144.9475,Southern Metropolitan,3280.0,"-37.8467, 144.9475"
105,105,Albert Park,55 Merton St,3,h,2100000.0,SP,Marshall,23/04/2016,3.3,...,1.0,120.0,123.0,1900.0,Port Phillip,-37.8427,144.9546,Southern Metropolitan,3280.0,"-37.8427, 144.9546"
108,108,Albert Park,115 Page St,4,h,4735000.0,S,Marshall,25/02/2017,3.3,...,1.0,330.0,207.0,1910.0,Port Phillip,-37.8477,144.9558,Southern Metropolitan,3280.0,"-37.8477, 144.9558"

In [14]:
print(melb_data[melb_data["Rooms"] == 3].shape[0])
display(melb_data[melb_data["Rooms"] == 3].head(5))

5881

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
6,6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0,"-37.8024, 144.9993"
11,11,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,...,2.0,214.0,190.0,2005.0,Yarra,-37.8085,144.9964,Northern Metropolitan,4019.0,"-37.8085, 144.9964"
16,16,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16/07/2016,2.5,...,1.0,113.0,110.0,1880.0,Yarra,-37.8056,144.9930,Northern Metropolitan,4019.0,"-37.8056, 144.993"

### filtering with two and more conditions

In [17]:
melb_data[(melb_data["Rooms"] == 3) & (melb_data["Price"] < 300000)].shape[0]

3

In [20]:
melb_data[((melb_data["Rooms"] == 3) | (melb_data["BuildingArea"] > 100)) & (melb_data["Price"] < 300000)].shape[0]

68

### filtering and statistical method

In [21]:
melb_data[melb_data["Type"] == "t"]["Rooms"].max()

np.int64(5)

In [25]:
max_num_rooms = melb_data[melb_data["Type"] == "t"]["Rooms"].max()
melb_data[(melb_data["Type"] == "t") & (melb_data["Rooms"] == max_num_rooms)]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
3959,3959,Maribyrnong,56 Skyline Dr,5,t,1000000.0,PI,Edward,25/02/2017,8.7,...,2.0,98.0,126.0,1970.0,Maribyrnong,-37.78430,144.89390,Western Metropolitan,4918.0,"-37.7843, 144.8939"
4109,4109,Moonee Ponds,18A Fanny St,5,t,980000.0,PI,Nelson,18/03/2017,6.9,...,2.0,207.0,168.0,2004.0,Moonee Valley,-37.76150,144.93330,Western Metropolitan,6232.0,"-37.7615, 144.9333"
7908,7908,Glenroy,1/217 West St,5,t,645000.0,S,Barry,20/05/2017,13.0,...,1.0,227.0,152.0,2013.0,Moreland,-37.69790,144.94100,Northern Metropolitan,8870.0,"-37.6979, 144.941"
9504,9504,Doncaster East,30 Barton St,5,t,1500000.0,SP,hockingstuart,17/06/2017,14.3,...,2.0,365.0,126.0,1970.0,Manningham,-37.77821,145.15690,Eastern Metropolitan,10999.0,"-37.77821, 145.1569"
11940,11940,Chadstone,1/6 Crana Ct,5,t,1050000.0,S,Buxton,29/07/2017,11.7,...,2.0,276.0,159.0,2011.0,Monash,-37.87883,145.09741,Southern Metropolitan,3582.0,"-37.87883, 145.09741"