# pandas DataFrame
DataFrame is 2 demensial stucture looks like a table, that include rows and columns. Colums is "Series" objects and rows are "Series's" objects. DataFrame also has labels (index), that correspond to each row in the table.

In [2]:
import pandas as pd

### to add DateFrame

way with use a dict

In [8]:
countries_df = pd.DataFrame({
    'countr':['Англия', 'Канада', 'США', 'Россия', 
              'Украина', 'Беларусь', 'Казахстан'],
    'population':[56.29, 38.05, 322.28, 146.24, 
                  45.5, 9.5, 17.04],
    'area':[133396, 9984670, 9826630, 17125191, 
    603628, 207600, 2724902],
})
display(countries_df)
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      countr  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

       countr  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

way with use a list

In [9]:
countries_df_0 = pd.DataFrame(
    data=[['Англия', 56.29, 133396],
          ['Канада', 38.05, 9984670],
          ['США', 322.28, 9826630],
          ['Россия', 146.24, 17125191],
          ['Украина', 45.5, 603628],
          ['Беларусь', 9.5, 207600],
          ['Казахстан', 17.04, 2724902]
         ],
    columns=['country', 'population', 'area'],
    index=['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] 
)
display(countries_df_0)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

### axis

axis=0 axis by rows

In [10]:
countries_df_0.mean(axis=0, numeric_only=True)

population    9.070000e+01
area          5.800860e+06
dtype: float64

axis=1 axis by columns

In [11]:
countries_df_0.mean(axis=1, numeric_only=True)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

### access to data

In [15]:
display(countries_df.area)
display(countries_df.population)

UK      133396
CA     9984670
US     9826630
RU    17125191
UA      603628
BY      207600
KZ     2724902
Name: area, dtype: int64

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

access by index

In [17]:
display(countries_df['area'])
display(countries_df['population'])

UK      133396
CA     9984670
US     9826630
RU    17125191
UA      603628
BY      207600
KZ     2724902
Name: area, dtype: int64

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

access to tabl's box