# pandas various data sources

In [2]:
import pandas as pd

### csv is comma-sepatated values

### writing to csv-file
* path_or_buf= path to folder, where data will be written
* sep= separator of data in written file (',' as default)
* decimal= separator of numbers in written file ('.' as default)
* columns= list of columns, to be written to to file (all columns are written as default)
* index= it need to create an additional column with indexes ('True' as default)

In [11]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

### reading csv-file
* filepath_or_buffer= path to reading file
* sep= separator of data in reading file (',' as default)
* decimal= separator of numbers in written file ('.' as default)
* names= list of column names to be read
* skiprows= number of rows to be skipped

In [12]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

### reading a csv-file from a link

example 
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')

### other formats to writing
* to_excel() - .xlsx format 
* to_json() - .json format
* to_xml() - .xml format
* to_sql() - .sql formft

### other formats to reading
* read_excel() - .xlsx format 
* read_json() - .json format
* read_xml() - .xml format
* read_sql() - .sql formft