# pandas statistics methods

In [1]:
import pandas as pd

Aggregating method is method, that returns only one value, for each column.

In [16]:
all_agg_methods = pd.DataFrame(
    data = [[".count()", "number of non-empty values"],
            [".mean()", "mean value"],
            [".min()", "minimum value"],
            [".max()", "maximum value"],
            [".var()", "variance value"],
            [".std()", "standard deviation"],
            [".sum()", "sum of values"],
            [".quantile(x)", "quantile of level(x)"],
            [".nunique", "number of unique values"],
            ["non modal method", "non modal method"],
            [".mode()", "modal value"]
           ],
    columns = ["Method", "Description" ]
)

In [17]:
display(all_agg_methods)

              Method                 Description
0           .count()  number of non-empty values
1            .mean()                  mean value
2             .min()               minimum value
3             .max()               maximum value
4             .var()              variance value
5             .std()          standard deviation
6             .sum()               sum of values
7       .quantile(x)        quantile of level(x)
8           .nunique     number of unique values
9   non modal method            non modal method
10           .mode()                 modal value

In [8]:
melb_data = pd.read_csv("data/melb_data.csv", sep=",")

In [11]:
display(melb_data['Price'].mean())
display(melb_data['Car'].max())

np.float64(1075684.079455081)

np.float64(10.0)

In [13]:
rate = 0.12
income = round(melb_data["Price"].sum() * rate, 2)
print(income)

1752934775.88

In [21]:
display(melb_data["Propertycount"].max())
display(melb_data["Distance"].std())

np.float64(21650.0)

np.float64(5.86872494307171)

In [23]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [35]:
import numpy as np
print(melb_data["BuildingArea"].mean())
print((np.median(melb_data["BuildingArea"]) - melb_data["BuildingArea"].mean()))

139.63397229013256
-13.633972290132562