# pandas practice

In [3]:
import pandas as pd

In [11]:
student_data = pd.read_csv("data/students_performance.csv", sep=",")
student_data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

* how many students table includs? 
* how many missing values are there in the table?
* how many columns in table has date type "object"?

In [12]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

what is the writing score for a student with an index of 155?

In [13]:
student_data["writing score"][155]

np.int64(88)

what is avarage math score for students?

In [14]:
student_data["math score"].mean()

np.float64(66.089)

Which racial group is the largest in the educational institution?

In [21]:
display(student_data["race/ethnicity"].mode())
display(student_data.describe(include=["object"]).loc[:,"race/ethnicity"])

0    group C
Name: race/ethnicity, dtype: object

count        1000
unique          5
top       group C
freq          319
Name: race/ethnicity, dtype: object