# pandas grouping dataframe

In [47]:
import pandas as pd

In [48]:
melb_df = pd.read_csv("data/melb_data_fe.csv", index_col=False)
melb_df.head(5)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.9984,Northern Metropolitan,4019,25.20,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.9934,Northern Metropolitan,4019,15.80,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.9944,Northern Metropolitan,4019,18.75,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.75,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.75,0.083969,4,2,2,St,0

### .groupby()
* by= name or name list, that needs to groupe
* axis=0 as default groupe by rows
* axis=1 groupe by columns
* as_index=True as default add new index

### grouping data by one criterion with one aggregation

In [49]:
melb_df.groupby(by="Type").mean(numeric_only=True)

,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,Weekend
Type,,,,,,,,,,,,,,,,,,
house,3.260874,1.242665e+06,10.979479,3104.080643,3.229336,1.613822,1.772674,617.181924,152.162553,-37.803795,144.994700,7259.025505,18.996731,-0.490031,6.750873,55.669700,4.015769,0.689808
townhouse,2.837522,9.337351e+05,9.851346,3100.777379,2.814183,1.809695,1.555655,279.606822,134.649710,-37.815782,144.996489,7094.459605,18.569847,-0.094916,6.621185,26.690305,3.980251,0.681329
unit,1.963871,6.051275e+05,7.607391,3110.797481,1.966523,1.183295,1.128936,477.314219,102.235863,-37.823710,144.996363,8199.280080,21.068242,0.319883,6.578721,39.703016,3.817368,0.646006

In [50]:
melb_df.groupby(by="Type", as_index=False).mean(numeric_only=True)

,Type,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,Weekend
0,house,3.260874,1.242665e+06,10.979479,3104.080643,3.229336,1.613822,1.772674,617.181924,152.162553,-37.803795,144.994700,7259.025505,18.996731,-0.490031,6.750873,55.669700,4.015769,0.689808
1,townhouse,2.837522,9.337351e+05,9.851346,3100.777379,2.814183,1.809695,1.555655,279.606822,134.649710,-37.815782,144.996489,7094.459605,18.569847,-0.094916,6.621185,26.690305,3.980251,0.681329
2,unit,1.963871,6.051275e+05,7.607391,3110.797481,1.966523,1.183295,1.128936,477.314219,102.235863,-37.823710,144.996363,8199.280080,21.068242,0.319883,6.578721,39.703016,3.817368,0.646006

In [51]:
melb_df.groupby("Type")["Price"].mean()

Type
house        1.242665e+06
townhouse    9.337351e+05
unit         6.051275e+05
Name: Price, dtype: float64

In [52]:
melb_df.groupby("Regionname")["Distance"].min().sort_values(ascending=False)

Regionname
Western Victoria              29.8
Eastern Victoria              25.2
Northern Victoria             21.8
South-Eastern Metropolitan    14.7
Eastern Metropolitan           7.8
Western Metropolitan           4.3
Southern Metropolitan          0.7
Northern Metropolitan          0.0
Name: Distance, dtype: float64

### grouping data by one criterion with multiple aggregations

In [53]:
melb_df.groupby("MonthSale")["Price"].agg(
    ["count", "mean", "max"]).sort_values(by="count", ascending=False)

           count          mean        max
MonthSale
8           1850  1.056371e+06  6500000.0
7           1835  9.314698e+05  9000000.0
5           1644  1.097807e+06  8000000.0
6           1469  1.068981e+06  7650000.0
3           1408  1.146762e+06  5600000.0
4           1246  1.050479e+06  5500000.0
9           1188  1.126349e+06  6400000.0
10           854  1.135970e+06  6250000.0
11           750  1.142503e+06  5050000.0
12           725  1.144737e+06  5700000.0
2            333  1.169051e+06  4735000.0
1            278  9.397921e+05  5200000.0

In [54]:
melb_df.groupby("MonthSale")["Price"].agg("describe").sort_values("count", ascending=False)

,count,mean,std,min,25%,50%,75%,max
MonthSale,,,,,,,,
8,1850.0,1.056371e+06,619617.476541,160000.0,635000.0,892000.0,1310000.0,6500000.0
7,1835.0,9.314698e+05,537390.803161,190000.0,586750.0,800000.0,1150000.0,9000000.0
5,1644.0,1.097807e+06,668492.867996,145000.0,650000.0,905000.0,1371250.0,8000000.0
6,1469.0,1.068981e+06,606010.069052,222000.0,660000.0,900000.0,1325000.0,7650000.0
3,1408.0,1.146762e+06,709573.596867,85000.0,680000.0,945000.0,1400000.0,5600000.0
4,1246.0,1.050479e+06,591892.902979,145000.0,655000.0,905500.0,1298750.0,5500000.0
9,1188.0,1.126349e+06,608734.690742,170000.0,725000.0,980000.0,1360000.0,6400000.0
10,854.0,1.135970e+06,692950.251627,250000.0,652625.0,950000.0,1416500.0,6250000.0
11,750.0,1.142503e+06,703666.227892,240000.0,671750.0,950000.0,1399125.0,5050000.0
12,725.0,1.144737e+06,706549.007161,250000.0,667500.0,938000.0,1412000.0,5700000.0
2,333.0,1.169051e+06,671564.357417,131000.0,710000.0,1020000.0,1478000.0,4735000.0
1,278.0,9.397921e+05,577668.924214,170000.0,570500.0,795000.0,1111250.0,5200000.0

In [55]:
melb_df.groupby("Regionname")["SellerG"].agg(["nunique", set]).sort_values("nunique", ascending=False)

,nunique,set
Regionname,,
Northern Metropolitan,40,"{Nelson, Brad, Village, Buckingham, Love, Greg..."
Southern Metropolitan,38,"{Nelson, Buckingham, Greg, Gary, Jas, hockings..."
Western Metropolitan,34,"{Nelson, Douglas, Brad, Village, Greg, Jas, Al..."
Eastern Metropolitan,26,"{Nelson, Buckingham, Love, Gary, hockingstuart..."
South-Eastern Metropolitan,25,"{Nelson, Greg, Gary, hockingstuart, Harcourts,..."
Eastern Victoria,11,"{Fletchers, Barry, McGrath, Harcourts, Eview, ..."
Northern Victoria,11,"{Barry, McDonald, McGrath, HAR, Ray, Buckingha..."
Western Victoria,6,"{HAR, Ray, YPA, Raine, other, hockingstuart}"

In [56]:
melb_df.groupby("Rooms")["Price"].mean().sort_values(ascending=False)

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

In [57]:
melb_df.groupby("Regionname")["Lattitude"].std().sort_values(ascending=False)

Regionname
Eastern Victoria              0.147067
Northern Victoria             0.084455
South-Eastern Metropolitan    0.073411
Western Metropolitan          0.051251
Northern Metropolitan         0.049639
Eastern Metropolitan          0.047890
Southern Metropolitan         0.043080
Western Victoria              0.011579
Name: Lattitude, dtype: float64

In [58]:
melb_df["Date"] = pd.to_datetime(melb_df["Date"])

In [59]:
mask1 = (melb_df["Date"].dt.month > 4)
mask2 = (melb_df["Date"].dt.month < 10)

In [60]:
melb_df[mask1 & mask2].groupby(by="SellerG")["Price"].sum().sort_values(ascending=True)

SellerG
Burnham           11352000.0
LITTLE            12497500.0
Moonee            16132500.0
Thomson           18429000.0
Alexkarbon        18586090.0
McDonald          18687500.0
Bells             19271000.0
Purplebricks      28407500.0
Buckingham        28554000.0
C21               30211500.0
Eview             30524833.0
Rendina           30899776.0
Cayzer            30982000.0
Philip            32527800.0
O'Brien           34720508.0
HAR               41213500.0
Nick              42138000.0
Douglas           42587300.0
RW                45475500.0
Love              47689000.0
Chisholm          48168000.0
Collins           51343000.0
Raine             57398200.0
Williams          60679800.0
Village           61208000.0
YPA               61807350.0
Stockdale         67114300.0
Harcourts         89121750.0
Hodges            90631500.0
Gary              91213400.0
Sweeney           97984593.0
Miles            112203500.0
Kay              114629500.0
Jas              125766100.0
McGrath          135204500.0
RT               139557000.0
Brad             151102000.0
Noel             160947300.0
Greg             165085500.0
Woodards         182991922.0
Fletchers        228393200.0
Biggin           232298500.0
Ray              414327586.0
Buxton           467720847.0
Barry            536584338.0
Marshall         637920888.0
hockingstuart    652244448.0
other            667490781.0
Nelson           904763051.0
Jellis           989977633.0
Name: Price, dtype: float64